h1 {
    font-size: 30px;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif
}

h2 {
    font-size: 24px;
    text-align: left;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

h3 {
    font-size: 12px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

p {
    word-spacing: 5px;
    font-size: 24px;
    align-items: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

img {
    width: 100%;
    height: auto;
}

#box-container {
    display: flex;
    width: flex;
    margin: auto;
}

#box-1 {
    flex-basis: auto;
}

#box-2 {
    flex-basis: auto;
}

<div id="box-container"><div id="box-1"></div><div id="box-2"></div></div>